	body {
		background-color: white;
	}
	h1 {
		text-align: center;
		color: black;
		font-family: sans-serif;
		font-variant: arial;
		font-size: 10;
		width: 1000px;
	}

	h2 {
		text-align: center;
		color: blue;
		font: 18px arial;
		width: 1000px;
	}

	p {
		text-align: left;
		color: black;
		font: 12px arial;
		width: 1000px;
	}

	svg {

	}

	.axis {
		font-family: arial;
		font-size: 0.6em;
	}
	.path {
		fill: none;
		stroke-width: 2px;        }
	.tick {
		fill: none;
		stroke: black;
	}
	circle {
	    opacity: 0.2;
	  }
	circle#line1 {
		fill: #E52C2C;
	}
	circle#line2 {
		fill: #6CDC20;
	}
	circle#line3 {
		fill: #1074E6;
	}
	#line1 {
		stroke: #E52C2C;
		font-family: arial;
	}
	#line2 {
		stroke: #6CDC20;
		font-family: arial;
	}
	#line3 {
		stroke: #1074E6;
		font-family: arial;
	}
	text#line1 {
		fill: #E52C2C;
	}
	text#line2 {
		fill: #6CDC20;
	}
	text#line3 {
		fill: #1074E6;
	}
	.line_plot {
		fill: none;
		stroke: #4eb0bb;
		stroke-width: 1px;
	}
	.line {
		fill: none;
		stroke: green;
		stroke-width: 2px;
	}
	div.sexchange, div.natchange, div.agechange {
		display: inline-block;
		text-align: left;	
		font: 12px arial;
		color: black;
		width: 340px;
	    margin: auto;
	    border: 1px solid r;
	    padding-left: 20px;
	    padding-bottom: 6px;
	    background-color: #e6ffe6;
	    border: 1px solid green;
	}
	div.tooltip {	
	    position: absolute;			
	    text-align: center;			
	    width: 150px;					
	    height: 34px;					
	    padding: 2px;				
	    font: 14px arial;		
	    background: lightgreen;	
	    border: 0px;		
	    border-radius: 8px;			
	    pointer-events: none;
	    border: 1px solid green;		
	}